button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 4px;
	background: $color__background-button;
	color: hsla(0, 0%, 30%, 0.8);
	@include font-size(1.1);
	line-height: 1;
	padding: .6em 1em .8em;
	cursor: pointer;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
