input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}


.a1d-form {
		
	label {
		font-size: .8em;
	}
	::-webkit-input-placeholder {
		font-size: .8em;
	}
	.terminos {
		font-size: .9rem;
		padding: .5em 1em;
		background: $color__background-body;
		border-radius: .25em;
	}

	@media screen and (min-width: $query__sm) {
		padding: 1em;
		border: 1px solid $color__morado;
		border-radius: 8px;

		.terminos {
			width: 60%;
		}
	}
}