$color__background-body: #f4f6f8;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #8cf070;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__azul: #1b75bc;
$color__rojo: #ef4136;
$color__morado: #909acd;
$color__azuloscuro: #2b3990;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #2b3990;
$color__link-visited: #8d87aa;
$color__link-hover: $color__rojo;
$color__text-main: #484f59;

$color__border-button: #07764f #07764f #055e5d;
$color__border-button-hover: #0f9d3c #0f9d3c #05852e;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__ayuda: #dff2d2;
