.site-footer {
  background: $color__azuloscuro;
  color: $color__morado;
  padding: 2em 1em;
  @include font-size(1.2);

  @media screen and(min-width: $query__md) {
    padding: 2em;
  }

  a {
    color: white;
  }

  .footer__wrap {
    text-align: center;

    @media screen and(min-width: $query__sm) {
      text-align: left;
      display: flex;
      flex-wrap: nowrap;

      .social-menu {
        flex: 1;
      }
      .site-info {
        flex: 1;
        text-align: right;
      }
    }

    .social-menu {
      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        li {
          display: inline;
          margin: 0 .5em;
        }
      }
    }

    .site-info {
      font-family: $font__serif;
    }
  }
}
